*.jl.*.cov
*.jl.cov
*.jl.mem
config/
usr/usr-params.jl
Manifest.toml
data/*
*.DS_Store
*.vscode
*.xls*
*.tmp
*.csv
*.arrow
out/
out-*/
test/
test-*/
!data-updated/
!data-updated/**
*.zip
*.xml
*.DS_Store
*.xls*
*.xml
*.zip
data/
*.DS_Store